'scopeName': 'source.zap'
'name': 'zapper'
'fileTypes': ['zap']
'patterns': [
  {
    'match': '[0-9]'
    'name': 'constant.numeric.zapper'
  }
  {
    'match': '\\b(?:list|first|rest|conj|length|nth|let|print|println)\\b'
    'name': 'support.function.zapper'
  }
  {
    'match': '\\b(?:cond|fn|return|ns|import)\\b'
    'name': 'keyword.control.zapper'
  }
  {
    'match': '\\b(?:=|<|>|<=|>=|\\+|\\*|\\/|\\/)\\b'
    'name': 'keyword.operator.zapper'
  }
  {
    'match': '\\b(?:True|False)\\b'
    'name': 'constant.language.zapper'
  }
  {
  'begin': '"'
  'beginCaptures':
    '0':
      'name': 'punctuation.definition.string.begin.zapper'
  'end': '"'
  'endCaptures':
    '0':
      'name': 'punctuation.definition.string.end.zapper'
  'name': 'string.quoted.double.zapper'
  'patterns': [
      {
        'match': '\\\\.'
        'name': 'constant.character.escape.zapper'
      }
    ]
  }
  {
  'begin': '\''
  'beginCaptures':
    '0':
      'name': 'punctuation.definition.char.begin.zapper'
  'end': '\''
  'endCaptures':
    '0':
      'name': 'punctuation.definition.char.end.zapper'
  'name': 'string.quoted.single.zapper'
  'patterns': [
      {
        'match': '\\\\.'
        'name': 'constant.character.escape.zapper'
      }
    ]
  }
]
